
html, body {
position: relative;
height: 100%;
background:  #03061B;  
}

body {
font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
color: beige;
margin: 0;
padding: 0;
}

#hero-block{
text-align: center;
}

#img-icon {
position: relative;
left: 0%;
right: auto;
width: 8%;
height: auto;
max-height: none;
min-height: 80px;
margin-top: 60px;
}


#title{
font-size: 40px;
font-weight: 600;
margin-bottom: 7px;
}

#descr{
font-size: 20px;
margin-bottom: 50px;
margin-top: 0px;
}

#img-hero {
position: relative;
left: 0%;
top: 0%;
right: auto;
height: auto;
max-height: none;
max-width: 700px;


}


#mailform{

text-align: center;
margin: 0 auto;
background-color: #000;

position: relative;
height: 100px;
}

#partner{
font-size: 22px;
text-align: center;
margin: 0px;
color: beige;


}

#mail-link{
color: gold;
}

#black{
  text-align: center;
margin: 0 auto;
background-color: #000;

position: relative;
height: 50px;
}

#footer{
  margin: 0px;

}

#foot{
  margin: 0px;
color: beige;
font-size: 12px;
font-weight: 300;
text-align: center;
vertical-align: middle;
height: 80;
background-color: 000;


}






