
   html, body {
    position: relative;
    height: 100%;
    background: linear-gradient(0deg, #03061B 0%, rgba(2, 3, 16, 0.95) 100%);  }

  body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
  }

  a:link {
    text-decoration: none;
  }

  .logo{
      height: 30px;
      
  }


  .img-hero {
    position: relative;
    left: 55%;
    top: 5%;
    right: auto;
    width: 35%;
    height: auto;
    max-height: none;
    min-height: 400px;
    margin-top: 5%;
}

.img-icon {
  position: relative;
  left: 5%;
  right: auto;
  width: 10%;
  height: auto;
  max-height: none;
  min-height: 100px;
}


img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}






